autopep8==1.4.4
awesome-slugify==1.6.5
Django==2.2.13
Markdown==3.1.1
Pillow==8.3.2
pycodestyle==2.5.0
pytz==2019.2
redis==3.3.8
regex==2019.8.19
sorl-thumbnail==12.5.0
sqlparse==0.3.0
Unidecode==0.4.21
