{% extends 'base.html' %}

{% block app_content %}

<div class="row">
    <div class="col-md-6">
        <h1>Hello, {{ user.username }}</h1>
        {% if current_user == user %}
        <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
        {% else %}
        {% if current_user.is_following(user) %}
        <a href="{{ url_for('unfollow',username=user.username) }}">Unfollow</a>
        {% else %}
        <a href="{{ url_for('follow',username=user.username) }}">Follow</a>
        {% endif %}
        {% endif %}
        <hr>
        {% include 'post_content.html' %}
    </div>
</div>
{% endblock %}