<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css"> {% if current_user.is_authenticated %}
    <title>{{ user.name }}'s WatchList</title>
    {% else %}
    <title>WatchList</title>
    {% endif %}
</head>

<body>

    {% if current_user.is_authenticated and user %}
    <h2>
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}" alt=""> {{ user.name }}'s WatchList
    </h2>
    {% else %}
    <h2>Welcome To WatchList</h2>
    {% endif %}

    <nav>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message}}</div>
    {% endfor %} {% block content %}{% endblock %}

    <footer>
        <small>&copy;2019 <a href="/">HelloFlask</a></small>
    </footer>
</body>

</html>